* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: #444;
    outline: none;
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;
}

body {
    padding: 0 20%;
}

/* Styling the scroll-bar */
/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Styling the scroll-bar */

/* Global Shared Classes */

.display-inline {
    display: inline-block;
}

#main-div-container {
    margin: 3% 15% 1% 15%;
    padding: 3% 5% 1% 5%;
    box-shadow: 0px 0px 2px #cecece;
    border-radius: 6px;
}

.display-none {
    display: none;
}

.middle-align {
    vertical-align: middle;
}

/* End Global Shared Classes */

.header-top-bar {
    display: flex;
    background-color: #fbfbfb;
    padding: 12px;
}

.header-logo {
    padding: 10px 20px;
    margin-left: 5%;
}

.header-menu {
    flex: 1;
    margin-top: 1.2%;
    padding: 0;
    text-align: right;
    margin-right: 5%;
}

.header-menu ul {
    list-style: none;
}

.header-menu span {
    cursor: pointer;
}

.header-menu ul li {
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
}

.header-menu ul li:hover {
    color: #22aa11;
    transition: color 0.7s ease;
}

.header-logo h3 {
    font-size: 24pt;
    margin: 0;
    padding: 0;
}

.header-logo h3:nth-child(2) {
    color: #22aa11;
}

.header-banner {
    width: 100%;
    height: 87.5vh;
    background-image: url('../img/bg_img.png');
    background-size: cover;
    display: flex;
}

.header-search-container {
    margin: auto;
    box-shadow: 0px 0px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    -o-box-shadow: 0px 0px 2px #ccc;
    -moz-box-shadow: 0px 0px 2px #ccc;
    border-radius: 4px;
    overflow: hidden;
    padding-left: 8px;
    background-color: #efefef;
    position: relative;
}

.header-search-container label,
.header-search-container i {
    padding: 0 5px;
}

.header-search-container i {
    padding-right: 10px;
}

.header-search-container input[type="text"] {
    border: none;
    width: 500px;
    padding: 10px 8px;
    font-size: 12pt;
}

.header-search-container img {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
}

.body-item {
    background-color: #fbfbfb;
    box-shadow: 0 0 1.5px #ccc;
    margin: 5px 8px;
    text-align: center;
    width: 160px;
    max-height: 230px;
}

.body-item .item-header {
    font-size: 10pt;
    padding-top: 8px;
}

.body-item .item-body img {
    height: 120px;
}

.body-item .item-footer {
    height: 80px;
    text-align: left;
    font-size: 10pt;
}

.body-item .item-footer p,
.body-item .item-footer label {
    padding: 0 4px
}

.body-item .item-footer p {
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body-item .item-footer button {
    width: 100%;
    margin: 4px 0;
    padding: 2px 0;
    border: none;
    background-color: #36f;
    color: #eee;
    cursor: pointer;
}

button:active {
    opacity: .8;
}

h4 {
    text-align: center;
    margin: 20px 0;
    font-size: 16pt;
    font-weight: normal;
}

/* Farmacy and Medice */

.splited {
    display: flex;
    width: 100%;
    height: 100vh;
}

.desc-left {
    flex: 1;
    overflow-y: auto;
}

.desc-right {
    flex: 2;
    background-color: #ddd;
}

.desc-left-img {
    text-align: center;
    margin-top: 10px;
}

.desc-left-img img {
    max-height: 150px;
}

.obj-info {
    display: flex;
}

.obj-info div {
    margin: 0 5px;
    padding: 5px;
}

.obj-description {
    padding: 15px;
}

.obj-description p {
    margin-top: 10px;
    font-size: 11pt;
    text-align: justify;
}

.obj-info-header {
    margin-top: 10px;
    font-weight: 600;
}

.function-button {
    display: flex;
    padding: 5px;
}

.function-button button {
    flex: 1;
    margin: 4px 5px;
    padding: 8px 0;
    border: none;
    background-color: #36f;
    color: #fefefe;
    cursor: pointer;
}

.function-button button:nth-child(1) {
    background-color: #3c3;
}

/* Modal */

.background-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.6);
    display: flex;
}

.m-modal {
    background-color: #fefefe;
    margin: auto;
    border-radius: 4px;
    padding: 8px;
    width: 480px;
}

.modal-control {
    margin: 8px 0;
}

input,
select,
textarea {
    border: 1px solid #bbb;
    border-radius: 3px;
    resize: none;
    width: 100%;
    padding: 5px 0;
    text-indent: 2pt;
    font-size: 11pt;
}

.close {
    color: #b23;
}

.modal-control-button {
    display: flex;
}

.modal-control-button button {
    flex: 1;
    padding: 8px 0;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #cfcfcf;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.modal-control-button button:nth-child(1) {
    background-color: #3c3;
    margin-right: 2px;
}

.modal-control-button button:nth-child(3) {
    color: #fff;
    background-color: rgb(233, 63, 77);
    margin-left: 2px;
}

.modal-control-button button:nth-child(1):hover {
    color: #3c3;
    border: 1px solid #3c3;
    background-color: #fff;
    transition: all 0.3s;
}

.modal-control-button button:nth-child(2):hover {
    color: rgb(64, 63, 77);
    border: 1px solid rgb(77, 63, 77);
    background-color: #fff;
    transition: all 0.3s;
}

.modal-control-button button:nth-child(3):hover {
    color: rgb(233, 63, 77);
    border: 1px solid rgb(233, 63, 77);
    background-color: #fff;
    transition: all 0.3s;
}

.display-none {
    display: none;
    animation: opacity 2s ease;
}

.waiting {
    width: 100%;
    position: absolute;
    display: flex;
}

.waiting .waiting-content {
    margin: auto;
    padding: 5px 100px;
    background-color: rgba(10, 24, 60, 0.5);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.waiting .waiting-content img {
    height: 16px;
}

.waiting .waiting-content img,
.waiting .waiting-content label {
    vertical-align: middle;
    color: #eee;
}

#prod-list {
    margin: 2%;
}

.prod-list-item {
    box-shadow: 0px 0px 2px #cecece;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    margin: 8px 0px;
}

.prod-list-item .img {
    width: 120px;
    height: 120px;
    background-color: #cecece;
    flex: 1;
}

.h-tmp {
    display: none !important;
}

.date {
    flex: 0.1;
    background-color: red;
}

.text-content {
    flex: 4;
    margin: 5px;
}

.info-m {
    display: flex;
}

.info {
    flex: 1;
    margin: 5px;
}

.bottom-text-content {
    margin: 5px;
}

@media (max-width: 1220px) {
    body {
        padding: 0 30px;
    }
}