@font-face {
    font-family: "Gadugi";
    src: url(../fonts/gadugi.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: Gadugi;
}

a {
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 11pt;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: var(--color-text);
}

i{
    font-style: normal;
}

:root {
    --easy-yellow: #F0DB4F;

    --note-green: #3bbd418a;
    --note-yellow: #f0Db4f8a;
    --note-red: #f150478a;

    --color-blue: #51a0d5;
    --color-yellow: #ffbe2f;
    --color-red: #f15047;
    --color-green: #3bbd42;

    --color-light-blue: lightblue;
    --color-light-yellow: khaki;
    --color-soft-grey: #6161614d;
    --color-white-text: #fafafa;
    --color-black-text: #3a3a3a;
    --set-shadow: 0px 0px 3px .1px var(--color-shadow);

    --color-menu: #343842;
    --color-menu-darker: #2e323b;
    --color-menu-text-color: #a0a2a8;
    --color-active: #ddca4d;
}

.light-theme:root {
    --easy-black: #494a47;

    --color-text: #5a5a5a;
    --color-border: #e2e2e2;
    --color-soft-border: #bbb;
    --color-bg-lighter: #fcfcfc;
    --color-bg: #fafafb;
    --color-light-grey: #efefef;
    --color-logo-text: #444;
    --color-shadow: #ececec;
    --color-menu: #343842;
    --color-disable: #efefef;
    --color-soft-transparency: #f0f0f080;
    --color-popup: #fafafa;
    --color-row: #f6f6f6;

    --color-editor-screen: #f0f0f080;
    --color-editor-caret: #343842;
    --color-editor-border: #efefef;
    --color-editor-result-screen: #fcfcfc;

    --color-scroll-thumb: #888;
    --color-scroll-track: #f0f0f080;

    --color-note: #f2f2f2;

    --color-footer: #2e323b;
}

.dark-theme:root {
    --easy-black: #909398;

    --color-text: #b0b3b8;
    --color-border: #363636;
    --color-soft-border: #444;
    --color-bg-lighter: #242526;
    --color-bg: #1c1c1d;
    --color-light-grey: #3a3b3c;
    --color-logo-text: #b0b3b8;
    --color-menu-icon: #777;
    --color-shadow: #2c2c2c;
    --color-menu: #242526;
    --color-disable: #3a3b3c;
    --color-soft-transparency: #3a3b3c80;
    --color-popup: #3c3c3c;
    --color-row: #3a3b3c;

    --color-editor-screen: #3a3b3c80;
    --color-editor-caret: #aaaaaa;
    --color-editor-border: #3f3f3f;
    --color-editor-result-screen: #f8f8f8;

    --color-scroll-thumb: #888;
    --color-scroll-track: #3a3b3c80;

    --color-note: #515151;

    --color-footer: #3a3b3c;
}

.light-theme *,
.dark-theme * {
    transition: background-color .1s;
    transition: color .1.5s;
}

body {
    background-color: var(--color-bg);
}

#app-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column;
}

#app-page>main {
    flex: 1;
    display: flex;
}

.main-view {
    width: 100%;
}

/* Top bar */
nav {
    height: 60px;
    position: relative;
    box-shadow: 0px 1px 3px .1px var(--color-shadow);
}

nav img {
    height: 36px;
}

nav ul>li {
    display: inline-block;
    padding: 4px 14px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

nav ul>li .dot {
    font-size: 9pt !important;
    margin: 0 2px;
}

nav .logo,
nav ul {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav .logo {
    top: 42%;
    left: 30px;
    font-size: 15.8pt;
}

nav .logo>h2 {
    margin: auto;
    font-weight: 900;
    color: var(--easy-black);
}

nav .logo .yellow {
    color: var(--easy-yellow);
}

nav ul {
    right: 25px;
    font-size: 12pt;
    list-style: none;
}

nav ul>li .fa {
    font-size: 14pt;
    color: var(--color-text);
}

nav ul>li>span {
    color: var(--color-text);
}

nav ul>li:hover {
    background-color: var(--color-row);
    transition: background-color .4s;
}

.active-link {
    color: var(--color-active);
    transition: color .2s;
    text-shadow: 0px 0px .2px var(--color-shadow);
}

/* Main page displayed icon */
.main-divider {
    display: flex;
}

.text-center {
    text-align: center;
}

.center-content {
    margin: auto;
    display: flex;
}

.center-icon {
    position: relative;
}

.center-icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-icon img {
    height: 260px;
}

.main-text {
    margin-top: 35px;
    color: var(--color-text);
}

.main-text .high-text {
    font-size: 26pt;
    padding: 5px 0;
}

.main-text .high-btn {
    font-size: 16pt;
    border: 1px solid var(--color-border);
    border-radius: 25px;
    padding: 8px 28px;
    padding-bottom: 10px;
    display: inline-block;
    margin: 30px 0;
}

.main-text .high-btn:hover {
    box-shadow: var(--set-shadow);
}

.section-space {
    margin: 80px 0px;
}

.section-text {
    padding: 10px;
}

.section-text p {
    font-size: 18pt;
}

/* Card setup */
.card-container {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.card {
    color: var(--color-text);
    width: 320px;
    height: 200px;
    margin: 10px 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 3px .1px var(--color-soft-border);
    display: inline-block;
    background-color: var(--color-bg-lighter);
}

.card>div {
    padding: 10px 20px;
}

.card .head .title {
    font-size: 18pt;
}

/* Main Page Card setup */
.card:nth-child(1) {
    border-top: 2px solid tomato;
}

.card:nth-child(2) {
    border-top: 2px solid lightblue;
}

.card:nth-child(3) {
    border-top: 2px solid khaki;
}

.card-section {
    padding: 40px 0;
}

.middle-content {
    padding: 40px 0;
}

.middle-content .center-content {
    flex-flow: column;
}

.editor-divider {
    background-color: var(--color-soft-transparency);
}

.main-page-editor-container {
    padding: 65px 0;
    display: flex;
}

.main-page-editor-container .description {
    display: flex;
    margin: 10px;
    width: 360px;
    color: var(--color-text);
}

.main-page-editor-container .description>div {
    margin: auto;
}

.main-page-editor-container .description>div>h2 {
    margin: 8px 0;
}

.main-page-editor-container .description>div>p {
    font-size: 12.5pt;
}

/* Main page footer style */
.botton-content {
    padding: 25px;
    background-color: var(--color-footer);
    color: var(--color-white-text);
}

.botton-content a {
    color: var(--color-white-text);
}


/* Documentation page */
.doc-page,
.tutorial-page {
    display: flex;
    flex: 1;
}

.doc-page .doc-menu,
.tutorial-page .tutorial-menu {
    background-color: var(--color-soft-transparency);
    width: 520px;
    display: flex;
    flex-flow: column;
    position: relative;
}

.doc-page .doc-menu {
    width: 320px;
    box-shadow: 0 1px 2px 0.1px var(--color-soft-border);
}

.tutorial-page .tutorial-menu .top {
    display: flex;
    height: 50px;
    border-bottom: 1px solid var(--color-border);
}

.tutorial-page .tutorial-menu .top>div {
    flex: 1;
}

.tutorial-page .tutorial-menu .top .prev,
.tutorial-page .tutorial-menu .top .next {
    flex: unset;
    width: 50px;
    font-size: 16pt;
    display: flex;
}

.tutorial-page .tutorial-menu .top .fa {
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--color-text);
    background-color: transparent;
    transition: background-color .2s;
    cursor: pointer;
}

.tutorial-page .tutorial-menu .top .menu-btn-container {
    flex: unset;
    width: 50px;
    display: flex;
}

.menu-btn-container .menu-btn {
    border-radius: 50%;
    border: 2.5px solid var(--color-light-grey);
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: auto;
}

.menu-btn-container .menu-btn span,
.menu-btn-container .menu-btn span::after,
.menu-btn-container .menu-btn span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: var(--color-menu-text-color);
    height: 2px;
    width: 10px;
    border-radius: 8px;
    transition: width .4s;
}

.menu-btn-container .menu-btn span::before {
    margin-top: -6px;
}

.menu-btn-container .menu-btn span::after {
    margin-top: 6px;
}

.tutorial-page .tutorial-menu .top .fa:hover {
    background-color: var(--color-light-grey);
}

.tutorial-page .tutorial-menu .top .dir {
    display: flex;
    padding: 0 5px;
}

.tutorial-page .tutorial-menu .top .dir * {
    margin: auto 0;
}

.doc-page .doc-menu .content,
.tutorial-page .tutorial-menu .content {
    overflow-y: auto;
    position: relative;
    flex: 1;
}

.doc-page .doc-menu .content .items,
.tutorial-page .tutorial-menu .content .text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    color: var(--color-text);
}

.doc-page .doc-menu .content .items {
    padding: 15px 38px;
    list-style: none;
}

.doc-page .doc-menu .content .items h3 {
    font-weight: 600;
    margin: 15px 0;
}

.doc-page .doc-menu .content .items li {
    margin: 10px 0;
}

.doc-page .doc-menu .content .items>li:last-child {
    margin-bottom: 30px;
}

.doc-page .doc-menu .content .items li ul {
    list-style: none;
    margin-left: 20px;
}

.tutorial-page .tutorial-menu .content .text a {
    color: var(--color-blue);
}

.tutorial-page .tutorial-menu .content .text h3 {
    font-size: 16pt;
}

.tutorial-page .tutorial-menu .content .text p {
    font-size: 13pt;
}

.tutorial-page .tutorial-menu .content .text h3,
.tutorial-page .tutorial-menu .content .text p {
    margin: 20px 0;
    margin-bottom: 25px;
}

.tutorial-page .tutorial-menu .content .menu {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--color-bg-lighter);
    box-shadow: var(--set-shadow);
    border-radius: 4px;
    z-index: 3;
    padding: 15px;
}

.tutorial-page .tutorial-menu ul {
    margin: 20px;
    list-style: circle;
}

.tutorial-page .tutorial-menu>ul>li {
    margin: 10px 0;
}

.note {
    background-color: var(--color-note);
    font-size: 12pt;
    padding: 2px 6px;
    border-radius: 3px;
    word-break: break-word;
}

.doc-page .doc-presentation,
.tutorial-page .tutorial-presentation {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.tutorial-page .tutorial-presentation .editor .modal {
    top: 8%;
    position: absolute;
}

.modal .popup {
    position: absolute;
    min-width: 150px;
    border-radius: 4px;
    height: 40px;
    background-color: var(--color-bg);
    box-shadow: var(--set-shadow);
    color: var(--color-text);
    bottom: 10px;
    right: 10px;
    display: flex;
    user-select: none;
}

.modal .popup>span {
    margin: auto;
    padding: 2px 8px;
}

.doc-page .doc-presentation {
    overflow-y: auto;
    position: relative;
}

.doc-page .doc-presentation .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 80px;
}

.doc-page .doc-presentation .section p,
.doc-page .doc-presentation .section h1,
.doc-page .doc-presentation .section h2,
.doc-page .doc-presentation .section h3 {
    margin: 26px 0;
}

.doc-page .doc-presentation .section h3,
.doc-page .doc-presentation .section h4
 {
    font-weight: bold;
}

.doc-page .doc-presentation .section {
    color: var(--color-text);
    max-width: 950px;
    border-top: 2px solid var(--color-border);
    line-height: 28px;
}

.doc-page .doc-presentation .section:last-child {
    margin-bottom: 50px;
}

.doc-page .doc-presentation .section ul {
    list-style: circle;
    margin-left: 2%;
}
.doc-page .doc-presentation .section ul li {
    margin: 10px 0;
    line-height: 30px;
}

.doc-page .doc-presentation .section .result input, 
.doc-page .doc-presentation .section .result select, 
.doc-page .doc-presentation .section .result button {
    border: 1px solid var(--color-border);
    padding: 4px 10px;
    border-radius: 4px;
    margin: 4px 0;
}

.doc-page .doc-presentation .section .result ul {
    list-style: disc;
}

.doc-page .doc-presentation .section .result ul li {
    margin: 0;
}

.mark-el {
    color: var(--color-blue);
}

.button-like {
    font-size: 10.5pt;
    padding: 8px 30px;
    border-radius: 3px;
    border: none;
    background-color: var(--easy-yellow);
    color: var(--color-black-text);
    cursor: pointer;
}

.result, pre {
    position: relative;
    max-width: 740px;
    margin: 25px 0;
}

pre code {
    overflow-x: auto;
    font-size: 11.6pt;
    line-height: 22px;
    display: block;
    border-radius: 2px;
    color: var(--color-text);
    padding: 0px 10px !important;
    background-color: var(--color-editor-screen) !important;
}

.result {
    overflow-x: auto;
    font-size: 11.6pt;
    line-height: 22px;
    border-radius: 2px;
    color: var(--color-text);
    padding-right: 0;
    background-color: var(--color-soft-transparency);
}

.result>* {
    margin: 24px;
}

pre code * {
    font-family: Consolas, 'Courier New', monospace;
}

code .hljs-built_in {
    color: #23aa51;
}


pre code::after, 
.result::after,
.block-note::after {
    content: "Copy";
    font-family: Consolas, 'Courier New', monospace;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-soft-border);
    text-align: right;
    font-size: 0.9em;
    padding: 5px 10px;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
    cursor: pointer;
}

.result::after,
.block-note::after {
    content: "Result";
    cursor: default;
}

.block-note::after {
    content: "Note";
}

.block-note {
    margin: 30px 0;
    max-width: 546px;
    border-radius: 6px;
    background-color: var(--color-soft-transparency);
    border: 2px solid transparent;
    position: relative;
}

.block-note>*{
    display: block;
    margin: 28px 15px!important;
}

.block-note.info { border-color: var(--note-green); }
.block-note.warn { border-color: var(--note-yellow); }
.block-note.dont { border-color: var(--note-red); }

.att-border.note { border: 2px solid var(--note-red); }
.warn-border.note { border: 2px solid var(--note-yellow); }

@media (max-width: 600px) {
    .high-element {
        flex-flow: column;
    }

    .high-element .main-text {
        text-align: center;
    }
}

/* Styling the scroll-bar */
/* For Mozilla */
pre code,
.nice-scroll {
    scrollbar-color: var(--color-scroll-thumb) var(--color-scroll-track);
    scrollbar-width: thin;
}

/* For Chrome and Others */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-scroll-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-scroll-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Styling the scroll-bar */